@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

body {
    background: #000000;
}

.section1 {
    min-height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    color: #ffffff;
    text-align: center;


}

.header {
    margin: 1em;
}

.section1 .h1 {
    text-shadow: 2px 2px 8px #000000;
}

h2 {
    margin-top: 1em;
    font-family: 'Comforter Brush', cursive;
}

.content img {

    border-radius: 70%;
    min-height: 300px;

}

.header button {
    margin-top: 0.5em;
}

.header button a {
    color: #ffffff;
    text-decoration: none;
}